* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

.all {
    position: relative;
}

nav {
    background-color: rgba(167, 162, 162, .7);
    position: absolute;
    z-index: 1;
}

@font-face {
    font-family: Jujutsu-Kaisen;
    src: url("./fontType/Jujutsu\ Kaisen.ttf") format("truetype");
}

.logo-container .name {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logo-container .name p {
    margin: auto;
    font-size: smaller;
    color: black;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-color: rgb(167, 162, 162);
    border-radius: 50%;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: cursive;
}

.banner {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.content {
    position: relative;
    z-index: 1;   
    font-weight:800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
}

.content h1 {
    color: red;
    font-family: Jujutsu-Kaisen; 
    font-size: 25px;  
    text-align: center; 
    width: 65vw;
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening span {
    font-weight: 600;
    font-family: cursive;
    padding: 5px;
    text-align: center;
}

.opening .play {
    margin: auto;
    color: black;
}

.video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.video-container.active {
    visibility: visible;
    opacity: 1;    
}

video {
    max-width: 1200px;
    width: 90vw;  
    outline: none;
}

.video-container .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 45px;
    font-size: large;
    /* color: white;     */
}

.video-container .close:hover {
    color: rgb(240, 112, 112);
}

@media screen and (min-width:768px) {
    .opening {
        display: flex;
        flex-direction: row;
    }  
    
    .content h1 {
        font-size: 50px;
    }
}